#loadinggif{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 12%;
    left: 8%;
    /* 12.8..12.90 */
    
    transition: all 10s;
}
#loadinggifp{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 22%;
    left: 8%;
    /* 12.8..12.90 */
    
    transition: all 10s;

}