@font-face {
    font-family: "vazir";
    src: url("fonts/Vazir-Bold.ttf");
}
#header{
    position: absolute;
    width:  99.95%;
    height: 8%;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    background-color: #adcced;
}
.HOMEBTN{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 27%;
    left: 10%;
    font-family: vazir;
    font-size: 20px;

}
.APPBTN{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 27%;
    left: 25%;
    font-size: 20px;
    font-family: vazir;
}
.PluginsBTN{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 27%;
    left: 40%;
    font-family: vazir;
    font-size: 20px;
}

.homepage .Id_NotePro{
    font-family: vazir;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 10%;
    top: 25%;
    width: 170px;
    height: 200px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: white ;
}
.homepage .Id_NotePro button{
    font-family: vazir;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 80%;

    border: none;
    width: 150px;
    height: 55px;
    background-color: rgb(152, 221, 152);
    transition: all 2s;
    border-radius: 10px;
    font-size: 20px;
}
.homepage .Id_NotePro p{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 48%;
    font-size: 20px;

}
